DutchServisMCV/Scripts/jquery-3.4.1.js
DutchServisMCV/Scripts/jquery.validate.js
DutchServisMCV/Scripts/jquery-3.4.1.intellisense.js
DutchServisMCV/Scripts/modernizr-2.8.3.js
DutchServisMCV/Static/css/bootstrap.css
DutchServisMCV/Static/css/bootstrap.css.map
DutchServisMCV/Logic/PasswordHasher.cs
DutchServisMCV/obj/
DutchServisMCV/Static/images/playerdata/
DutchServisMCV/Static/images/tournamentdata/
DutchServisMCV/Static/images/announcementdata/
DBMigration/
packages/