@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Model Player Data</h3>
<ul>
    <li><b>Z modelu Player</b></li>
    <li>Imie</li>
    <li>Nazwisko</li>
    <li>Nickname</li>
    <li>Rating</li>
    <li>Aktywny</li>
    <li>Zdjęcie</li>
    <li><b>Z kwerendy na TournamentResults</b></li>
    <li>Ranking</li>
    <li><b>Z kwerendy na Clans</b></li>
    <li>Klan</li>
</ul>
