@model DutchServisMCV.Models.Players

@{
    ViewBag.Title = "Info";
}

<div class="row mt-2">
    <div class="col-xs-4 col-md-3">
        <img class="img-responsive img-rounded" src="@Url.Content("~/Content/images/playerdata/" + Model.ImgPath)" />
    </div>
    <div class="col-xs-8 col-md-9">
        <h2>@Model.Nickname</h2>
        <h3 style="font-style: italic;">@Model.Name @Model.Surname</h3>

        <ul class="list-unstyled">
            <li></li>
        </ul>
    </div>
</div>

