
@{
    ViewBag.Title = "Informacje o federacji";
}

<article>
    <header>
        <h2 class="mb-1">Czym jest Tournament Dutch Federation?</h2>
    </header>

    <p>
        Jest to umowna &bdquo;federacja&rdquo; graczy Dutcha w ramach której co miesiąc rozgrywane są turnieje. W turnieju może wziąć udział
        każdy zapisany gracz, a liczba miejsc nie jest ograniczona. Turnieje dają graczowi punkty rankingowe, ale przede wszystki jest to okazja
        do dobrej zabawy. Samym rozgrywkom często towarzyszą gry planszowe oraz inne towarzyskie.
    </p>
</article>

<article>
    <h3>Organizator</h3>
    <p>
        Głównym organizatorem i sędzią jest Michał &bdquo;Mostow&rdquo; Mostowiec.
    </p>
</article>

<article>
    <h3>Jak zostać graczem?</h3>
    <p>
        Aby zostać graczem należy skontaktować się z organizatorem oraz wypełnić
        <a href=" https://forms.gle/fkQ44ADFooSndhV86" target="_blank">formularz zgłoszeniowy</a>.
        Zostaniesz wtedy dopisany jako gracz federacji oraz dodany do grupy na facebooku.<br />
        Aby brać udział w turniejach nie potrzeba umieć dobrze grać (najlepiej uczyć się grając), jednak ogólna znajomość zasad jest mile
        widziana.
    </p>
</article>

<article>
    <h3>Jak powstała federacja?</h3>
    <p>
        Federacja powstała jako naturalny skutek kiedy organizowane przez Mostowa co miesięczne turnieje były coraz większe. Pierwszy turniej był
        zorganizowany 8 stycznia 2023 roku i uczestniczyło w nim zaledwie 9 graczy.
    </p>
    <p>
        W miarę zwiększającej się liczby graczy pojawiła się potrzeba kolenych narzędzi organizacji orz pojawiły się pomysły na dalszy rozwój
        tego projektu jakim jest teraz Tournament Dutch Federation.
    </p>
    <p>
        W związku z dużymi  zmianami, które przeszła federacja w ciągu pierwszego roku jak i zmian w zasadach samej gry Dutch pod koniec 2023 roku
        został wykonany twardy reset w którym zdobyte przez graczy punkty zostały wyzerowane.
        Turnieje i rozgrywki z tego okresu nie są dostępne w tym serwisie, jednak nadal są dostępne w historycznym
        <a href="https://docs.google.com/spreadsheets/d/1FXUz9pmjE4DODTnAnX1X-8L2aqKcxQQtaXPkadQjKlE/edit?usp=sharing" target="_blank">arkuszu</a>.
    </p>
</article>
