@{
    ViewBag.Title = "Strona główna";
}

<header class="text-center">
    <h1>Turnament Dutch Federation</h1>
</header>

<h3>Wykonane poprawki</h3>
<ul>
    <li>Wartości wpisane do tabeli w formularzu znikają po dodaniu lub usunięciu wiersza</li>
    <li>Edycja gracza - błąd unikalności</li>
    <li>Dodawanie zdjęć do turnieju oraz ligi</li>
    <li>Naprawa linków wróć z meczy, turniejów i lig</li>
</ul>

<h3>Poprawki</h3>
<ul>
    <li>TempData przetrzymujący link z którego przekierowywało do logowania</li>
</ul>

<h3>Nowo zrobione</h3>
<ul>
    <li>Akcja kontrolera dodawania rozgrywki</li>
</ul>

<h3>Do zrobienia</h3>
<ul>
    <li>Widok z obsługą kontrolera do edycji rozgrywki</li>
    <li>panel admina</li>
    <li>Widok klanów</li>
    <li>Dodawanie i usuwanie klanów</li>
    <li>Strona z zasadami</li>
    <li>Strona z informacjami o federacji</li>
    <li>Strona główna</li>
</ul>