@{
    ViewBag.Title = "Strona główna";
}

<header class="text-center">
    <h1>Turnament Dutch Federation</h1>
</header>

<h3>Poprawki</h3>
<ul>
    <li>Dodawanie zdjęć do turnieju oraz ligi</li>
    <li>TempData przetrzymujący link z którego przekierowywało do logowania</li>
</ul>