@{
    ViewBag.Title = "Strona główna";
}

<header class="text-center">
    <h1>Turnament Dutch Federation</h1>
</header>

<h3>Wykonane poprawki</h3>
<ul>
    <li class="text-success">Wartości wpisane do tabeli w formularzu znikają po dodaniu lub usunięciu wiersza</li>
    <li class="text-success">Edycja gracza - błąd unikalności</li>
    <li class="text-success">Dodawanie zdjęć do turnieju oraz ligi</li>
    <li class="text-success">Naprawa linków wróć z meczy, turniejów i lig</li>
    <li class="text-success">Link powrót z dodawania meczu do ligi odnosi na widok turnieju</li>
    <li class="text-success">Widok ligi i jej edycji nie wyświetla zapisanych graczy (jeżeli nie rozegrali meczy)</li>
</ul>

<h3>Błędy</h3>
<ul>
    <li><span class="text-danger">Po logowaniu nie wracasz na stronę przekierowania</span><br/>Rozwiązanie: TempData przetrzymujący link z którego przekierowywało do logowania</li>
    <li class="text-warning">Liga staje się turniejem [?]</li>
    <li class="text-danger">Dodanie meczu nie zmienia elo graczy</li>
</ul>

<h3>Do zrobienia</h3>
<ul>
    <li class="text-success">Akcja kontrolera dodawania rozgrywki</li>
    <li class="text-success">Widok z obsługą kontrolera do edycji rozgrywki</li>
    <li class="text-success">Widok klanów</li>
    <li class="text-success">Dodawanie i usuwanie klanów</li>
    <li class="text-success">Strona z zasadami</li>
    <li class="text-success">Strona z informacjami o federacji</li>
    <li class="text-warning">Dokończenie gry z botem</li>
    <li class="text-danger">Strona główna</li>
    <li class="text-danger">panel admina</li>
</ul>