body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
.navbar-item {
    position: relative;
    display: block;
}
.navbar-item a {
    position: relative;
    display: block;
    padding: 15px 15px 10px;
    font-size: 18px;
    color: #9d9d9d;
}
.navbar-item a:hover {
    text-decoration: none;
    color: white;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.blue-line {
    margin-top: 6px;
    width: 100%;
    height: 6px;
    background-color: cornflowerblue;
}
table, th, td {
    border: 1px solid black;
}
.img-icon {
    height: 100%;
    margin-right: 10px;
}
.icon-text {
    float: left;
    max-width: 100px;
}
.big-screen-olny
{
    display: none;
}
.drop {
    line-height: 20px;
    font-size: 18px;
}
@media(min-width: 993px) and (orientation: landscape)
{
    .big-screen-olny {
        display: block;
    }
    .drop-header {
        background-color: transparent;
        border: none;
        padding: 15px 15px 15px 15px;
        color: #9d9d9d;
    }
    .drop-content {
        display: none;
        position: absolute;
        background-color: #222;
        min-width: 160px;
        border: solid;
        border-color: #222;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-width: 1px;
        border-top-color: #9d9d9d;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .drop-content a {
        color: #9d9d9d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .drop-content a:hover {
        color: white;
    }
    .drop:hover .drop-content {
        display: block;
    }
    .drop:hover .drop-header {
        color: white;
    }
}
.table-style > td {
    height: 80px;
    text-align: center;
}
.table-style > th {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.table-style > td, th > div, img {
    margin: auto;
}
.cell-1 {
    width: 10%;
}
.cell-2 {
    width: 20%;
}
.cell-3 {
    width: 30%;
}
.align-center {
    margin: auto;
}
.cell-text {
    margin-top: 20px;
    font-size: 18px;
}