html {
    overflow-y: scroll;
    /* Base Colors */
    --gray: #9d9d9d;
    --gray-dark: #222222;
    --gray-light: #f0f0f0;
    --gray-shadow: #e0dede;
    --white-smoke: #f5f5f5;
    --text-color: #333333;
    --danger-text: #a94442;
    /* Game Colors */
    --yellow-dark: #daa520;
    --board-color: #687d60;
    --black: #000000;
    --red: #ff0000;
    /* Theme Colors */
    --theme-main: #6495ed;
    --theme-secound: #8db1f0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
.wide input, .wide textarea {
    max-width: 340px;
}
.wide textarea {
    min-width: 340px;
    min-height: 80px;
    max-height: 140px;
}
table input.form-control:read-only {
    background: white;
    text-align: center;
    border: none;
}
.form-horizontal .form-element {
    padding-top: 7px;
}
.navbar-item {
    position: relative;
    display: block;
}
.navbar-item a {
    position: relative;
    display: block;
    padding: 15px 15px 10px;
    font-size: 18px;
    color: var(--gray);
}
.navbar-item a:hover {
    text-decoration: none;
    color: white;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.blue-line {
    margin-top: 6px;
    width: 100%;
    height: 3px;
    background-color: var(--theme-main);
}
.img-icon {
    height: 100%;
    margin-right: 10px;
}
.icon-text {
    float: left;
    max-width: 100px;
}
.drop {
    line-height: 20px;
    font-size: 18px;
}
.display-lg {
    display: none;
}
@media(max-width: 540px) {
    .display-sm {
        display: none;
    }
}
@media(min-width: 993px) and (orientation: landscape)
{
    .display-lg {
        display: block;
    }
    .nav-dropdown > .drop-header {
        background-color: transparent;
        border: none;
        padding: 15px 15px 15px 15px;
        color: var(--gray);
    }
    .drop-content {
        display: none;
        min-width: 160px;
        position: absolute;
        z-index: 1;
    }
    .nav-dropdown > .drop-content {
        background-color: var(--gray-dark);
        min-width: 160px;
        border: solid;
        border-color: var(--gray-dark);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-width: 1px;
        border-top-color: var(--gray);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .drop:hover .drop-content {
        display: block;
    }
    .nav-dropdown:hover .drop-header {
        color: white;
    }
    .drop-content a {
        color: var(--gray);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .drop-content a:hover {
        color: white;
    }
}
header h1, header h2 {
    margin-top: 30px;
}
h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--theme-main);
    border-bottom-width: 2px;
    margin-bottom: 10px;
}
.table-style > tr > td {
    text-align: center;
    font-size: 18px;
    height: 40px;
}
.table-style > tr > th {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.table-style > tr > td, th > div, img {
    margin: auto;
}
.h-100 > tr > td {
    height: 100px;
}
@media (min-width: 540px) {
    .width-small {
        width: 70%;
    }
}
@media (min-width: 767px) {
    .width-medium {
        width: 70%;
    }
}
.blue-header {
    background-color: var(--theme-secound);
    color: var(--white-smoke);
}
.cell-1 {
    width: 10%;
}
.cell-2 {
    width: 20%;
}
.cell-3 {
    width: 30%;
}
@media(min-width: 540px) {
    .disp-only-xs {
        display: none;
    }
}
@media(min-width: 768px) {
    .disp-only-sm {
        display: none;
    }
}
@media(max-width: 993px) {
    .disp-lg {
        display: none;
    }
}
@media (min-width: 994px) {
    .cell-2-lg {
        width: 20%;
    }
}
@media(max-width: 767px) {
    .disp-md {
        display: none;
    }
}
@media(max-width: 539px) {
    .disp-sm {
        display: none;
    }
} 
.align-center {
    margin: auto;
}
.sortbtn {
    border: none;
    background-color: white;
}
.mb-1 {
    margin-bottom: 1em;
}
.mt-0 {
    margin-top: 0px;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.mx-1 {
    margin-left: 1em;
    margin-right: 1em;
}
.mx-left {
    margin-left: -10px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.graybox {
    display: none;
    border-style: solid;
    border-width: 1px;
    background-color: var(--gray-light);
    padding: 10px 10px 10px 10px;
}
.w-full {
    width: 100%;
}
a.boldlink {
    color: var(--text-color);
    font-size: 20px;
}
a.boldlink:hover {
    font-weight: 700;
}
a.textlink {
    color: var(--text-color);
}
a.boldlink:hover, a.textlink:hover {
    text-decoration: none;
    color: var(--theme-main);
}
a.text-danger:hover {
    text-decoration: none;
    color: var(--black);
}
@media (min-width: 768px) {
    a .boldlink:hover {
        font-weight: 900;
    }
}
.admincontroll {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color: var(--gray-light);
    border-style: solid;
    border-width: 2px;
    border-color: var(--danger-text);
    border-radius: 3px;
}
.admincontroll:hover {
    background-color: white;
    text-decoration: none;
}
.admincontroll, .admincontroll-text > a {
    color: var(--danger-text);
}
.board {
    border-style: outset;
    border-width: 3px;
    border-color: var(--gray-dark);
    border-radius: 10px;
    background-color: var(--board-color);
    padding: 30px 5% 30px 5%;
    margin-left: -15px;
    margin-right: -15px;
}
.card {
    padding: 0;
    background-color: transparent;
    border: solid;
    border-color: var(--gray-dark);
    border-width: 2px;
    border-radius: 16px;
}
.card > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-avers {
    font-size: 4em;
    font-weight: 600;
    font-family: 'Georgia';
}
.text-empty {
    font-size: 2em;
    color: var(--white-smoke);
    font-family: 'Georgia';
}
.text-game {
    font-size: 1.5em;
    color: var(--white-smoke);
    text-align: center;
    font-family: 'Georgia';
}
.active:hover {
    border-color: var(--yellow-dark);
}
.c-red {
    color: var(--red);
}
.c-black {
    color: var(--black);
}
@media(min-width: 1200px) and (orientation: landscape) {
    .board {
        padding: 30px 10% 30px 10%;
        margin-left: auto;
        margin-right: auto;
    }
}
.btn-game {
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    color: var(--white-smoke);
    font-size: 1em;
    font-family: 'Georgia';
    background-color: var(--gray);
}
.btn-game:hover {
    background-color: var(--yellow-dark);
}
.border-1 {
    border: solid;
    border-width: 1px;
}
.border-none {
    border: none;
}
.list-stat > li {
    font-size: 18px;
    max-width: 90%;
}
@media(min-width: 540px) {
    .list-stat > li {
        max-width: 75%;
    }
}
@media(min-width: 1200px) and (orientation: landscape) {
    .list-stat > li {
        max-width: 60%;
    }
}
ul > li > b {
    font-size: 16px;
    font-weight: 600;
}
label {
    margin-top: 3px;
    margin-bottom: 3px;
}
.gutters-5 {
    margin-left: -5px;
    margin-right: -5px;
}
.single-line {
    width: 100%;
}
.unstyled {
    text-decoration: none;
    color: inherit;
}
.unstyled:hover, .unstyled:focus {
    text-decoration: none;
    color: inherit;
}
.bluehover:hover {
    color: var(--theme-main);
}
.block {
    display: block;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 1em 10px;
}
.border-block {
    display: block;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 1em 10px;
    height: 200px;
    border-style: solid;
    border-color: var(--theme-main);
    border-radius: 8px;
}
.big {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.col-height {
    height: 100%;
}
.disp-none {
    display: none;
}
footer {
    font-size: 14px;
}
.disp-inline-block {
    display: inline-block;
}
.buttonlike {
    color: var(--gray-dark);
    min-width: 100px;
    margin-left: 10px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    border-style: solid;
    border-color: var(--gray);
    border-radius: 3px;
    border-width: 1px;
    background-color: var(--gray-light);
}
.buttonlike:hover {
    border-style: inset;
    background-color: #e3e3e3;
}
.buttonlike-heavy {
    min-width: 100px;
    margin-left: 10px;
    padding: 1px 5px 0px 5px;
    text-align: center;
    border-style: ridge;
    border-color: var(--gray);
    border-width: 2px 3px 3px 2px;
    border-radius: 1px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
}
.buttonlike-heavy:hover {
    background-color: var(--gray-shadow);
}
.italic {
   font-style: italic;
}
td.btn {
    border-top: none;
}